@use "../../../shared/styles/mixins" as *;

.home {
  &__sidebar {
    width: 296px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    @include layout-styles(right);
    color: var(--text-color);

    &--wrapper {
      flex: 1;
      @include flex-gap(16px, column);
      min-height: 0;
    }
  }

  &__nav-header {
    position: relative;
    padding: 20px 20px 10px 20px;
  }

  &__logo {
    @include flex-gap(8px);
    align-items: center;
  }

  &__nav-close {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &__nav-body {
    flex: 1;
    @include flex-gap(16px, column);
    min-height: 0;
    padding: 0 16px 20px 16px;
  }

  &__filters {
    display: flex;
    flex-direction: column;
  }

  // Tags Section

  &__tags {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__tags-header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 4px 12px;
  }

  &__tags-title {
    text-transform: uppercase;
    font: var(--manrope-3);
  }

  &__tags-reset {
    text-decoration: underline;
    font: var(--manrope-4-medium);
    letter-spacing: 1%;
    color: inherit;
  }

  &__tags-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
