@use "../../../styles/globals" as *;

.bookmark {
  height: 320px;
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 0.25);
  margin: 5px;

  &__logo {
    width: 44px;
    height: 44px;
    border: 1px solid var(--layout-stroke);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55px 55px;
  }

  &__content {
    flex: 1;
    @include flex-gap(16px, column);
    padding: 16px;
    border-radius: 10px;
  }

  &__header {
    @include flex-gap(12px);
    align-items: center;
  }

  &__info {
    flex: 1;
    @include flex-gap(4px, column);
  }

  &__title {
    font: $manrope-2;
    color: var(--primary-text-color);
  }

  &__url {
    font: $manrope-5;
    color: var(--secondary-text-color);
  }

  &__menu {
    position: relative;
    align-self: flex-start;
    border-radius: 8px;
    border: 1px solid var(--layout-stroke);
  }

  &__toggle-menu {
    padding: 8px;
    cursor: pointer;
  }

  &__dropdown-menu {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    z-index: 1;
    @include flex-gap(4px, column);
    padding: 8px;
    background: var(--primary-background);
    color: var(--secondary-text-color);
    font: $manrope-4;
    border: 1px solid var(--btn-stroke);
    border-radius: 8px;
    width: 200px;
  }

  &__menu-item {
    @include flex-gap(10px);
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }

  &__divider {
    width: 100%;
    min-height: 1px;
    background: var(--layout-stroke);
  }

  &__description {
    flex: 1;
    overflow-y: hidden;
    font: $manrope-4-medium;
    color: var(--secondary-text-color);
  }

  &__tags {
    @include flex-gap(8px);
  }

  &__tag {
    padding: 2px 8px;
    border-radius: 4px;
    background: var(--secondary-background);
    font: $manrope-5;
    color: var(--secondary-text-color);
  }

  &__footer {
    @include flex-gap(8px);
    padding: 12px 16px;
    border-top: 1px solid var(--layout-stroke);
    font: $manrope-5;
    color: var(--secondary-text-color);
  }

  &__footer-info {
    @include flex-gap(16px);

    & > * {
      @include flex-gap(6px);
      align-items: center;
    }
  }
}
