.bookmarkDropdown {
  position: relative;

  button {
    padding: 8px;
  }

  &__menu {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    background: var(--primary-background);
    color: var(--secondary-text-color);
    font: var(--manrope-4);
    border: 1px solid var(--btn-stroke);
    border-radius: 8px;
    width: 200px;
  }

  &__item {
    @include flex-gap(10px);
    border-radius: 6px;
    align-items: center;
    padding: 8px;
    cursor: pointer;
  }
}
