@use "../../styles/globals" as *;

.home {
  flex: 1;
  min-height: 0;
  display: flex;

  // Sidebar styles

  &__sidebar {
    width: 296px;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__nav {
    flex: 1;
    @include flex-gap(16px, column);
    min-height: 0;
  }

  &__nav-header {
    position: relative;
    padding: 20px 20px 10px 20px;
  }

  &__logo {
    @include flex-gap(8px);
    align-items: center;
  }

  &__nav-close {
    position: absolute;
    top: 6px;
    right: 6px;
  }

  &__nav-body {
    flex: 1;
    @include flex-gap(16px, column);
    min-height: 0;
    padding: 0 16px 20px 16px;
  }

  &__filters {
    display: flex;
    flex-direction: column;
  }

  &__filter {
    padding: 2px 0;
  }

  &__filter-content {
    padding: 8px 12px;
    border-radius: 6px;
    @include flex-gap(8px);
    align-items: center;
  }

  // Tags Section

  &__tags {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__tags-header {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 4px 12px;
  }

  &__tags-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    padding: 2px 0;
  }

  &__tag-content {
    padding: 8px 12px;
    @include flex-gap(12px);
    border-radius: 6px;
  }

  &__tag-header {
    flex: 1;
    @include flex-gap(8px);
  }

  // Main Content

  &__main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  // Header Section

  &__header {
    padding: 16px 32px;
    @include flex-between;
    align-items: center;
  }

  &__header-left {
    @include flex-gap(16px);
  }

  &__header-right {
    @include flex-gap(16px);
    align-items: center;
  }

  // Bookmark list

  &__bookmark-list {
    flex: 1;
    @include flex-gap(20px, column);
    min-height: 0;
    padding: 32px 32px 64px 32px;
  }

  &__bookmark-header {
    @include flex-gap(16px);
    justify-content: space-between;
    align-items: center;
  }

  &__bookmark-title {
    flex: 1;
  }

  &__bookmark-sort-by {
    @include flex-gap(4px);
    align-items: center;
    padding: 10px 12px;
    border-radius: 8px;
  }

  &__bookmark-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
    gap: 32px;
    padding-bottom: 32px;
    overflow-y: auto;

    & > * {
      min-height: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__bookmark {
    border-radius: 12px;
  }
}

// Bookmark item
.bookmark {
  height: 320px;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    @include flex-gap(16px, column);
    padding: 16px;
    border-radius: 10px;
  }

  &__header {
    @include flex-gap(12px);
    align-items: center
  }

  &__info {
    flex: 1;
    @include flex-gap(4px, column);
  }

  &__menu {
    align-self: flex-start;
    border-radius: 8px;
  }

  &__divider {
    width: 100%;
    min-height: 1px;
    background: #333;
  }

  &__description {
    flex: 1;
    overflow-y: hidden;
  }

  &__tags {
    @include flex-gap(8px);
  }

  &__tag {
    padding: 2px 0;
    border-radius: 4px;
  }

  &__footer {
    @include flex-gap(8px);
    padding: 12px 16px;
  }

  &__footer-info {
    @include flex-gap(16px);

    & > * {
      @include flex-gap(6px);
    }
  }
}
