@use "../../shared/styles/mixins" as *;

.home {
  flex: 1;
  display: grid;
  grid-template-areas:
  "sidebar header"
  "sidebar main";
  grid-template-columns: 296px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 0;


  &__main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(13 13 13 / 0.7);
    // z-index: -1;
    pointer-events: none;
  }
}
