@use "../../../styles/globals" as *;

.home {
  &__header {
    padding: 16px 32px;
    @include flex-between;
    align-items: center;
    @include layout-styles(bottom);
  }

  &__search-bar {
    width: 320px;
    @include flex-gap(8px);
    align-items: center;
    padding: 12px;
    border: 1px solid var(--layout-stroke);
    border-radius: 8px;
    font: $manrope-4-medium;
    color: var(--secondary-text-color);

    & > input {
      border: none;
      flex: 1;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  &__create-btn {
    @include button-styles;
  }

  &__header-left {
    @include flex-gap(16px);
  }

  &__header-right {
    @include flex-gap(16px);
    align-items: center;
  }
}
