@use "../../../styles/globals" as *;

.home {
  &__header {
    padding: 16px 32px;
    @include flex-between;
    align-items: center;
    @include layout-styles(bottom);
  }

  &__search-bar {
    width: 320px;
    @include flex-gap(8px);
    align-items: center;
    padding: 12px;
    border: 1px solid var(--layout-stroke);
    border-radius: 8px;
    font: $manrope-4-medium;
    color: var(--secondary-text-color);

    & > input {
      border: none;
      flex: 1;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  &__create-btn {
    @include button-styles;
  }

  &__header-left {
    @include flex-gap(16px);
  }

  &__header-right {
    @include flex-gap(16px);
    align-items: center;
  }

  &__profile {
    anchor-name: --profile;
    display: inline-block;
  }

  &__menu {
    anchor-name: --profile;
    display: inline-block;
  }

  &__dropdown-menu {
    position: absolute;
    position-anchor: --profile;
    top: anchor(bottom);
    right: anchor(right);
    width: 248px;
    margin-top: 15px;
    background: var(--primary-background);
    @include flex-gap(4px, column);
    border-radius: 8px;
    @include linear-border;
    color: var(--secondary-text-color);
    font: $manrope-4;
    z-index: 10;
  }

  &__profile-menu {
    position: absolute;
    position-anchor: --profile;
    top: anchor(bottom);
    right: anchor(right);
    width: 248px;
    margin-top: 15px;
    background: var(--primary-background);
    @include flex-gap(4px, column);
    border-radius: 8px;
    @include linear-border;
    color: var(--secondary-text-color);
    font: $manrope-4;
    z-index: 10;
  }

  &__profile-header {
    @include flex-gap(12px);
    padding: 12px 16px;
  }

  &__profile-username {
    font: inherit;
    color: var(--primary-text-color);
  }

  &__profile-email {
    font: $manrope-4-medium;
    color: var(--secondary-text-color);
  }

  &__theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    gap: 10px;
    border-top: 1px solid var(--profile-menu-stroke);
    border-bottom: 1px solid var(--profile-menu-stroke);
  }

  &__theme-text {
    flex: 1;
    text-align: left;
  }

  &__theme-switch {
    display: flex;
    padding: 2px;
    border-radius: 4px;
    background: var(--theme-background);

    & > * {
      color: var(--primary-text-color);
      padding: 6px 8px;
      border-radius: 4px;
    }

    &--active {
      background: var(--primary-background);
    }
  }

  &__profile-logout {
    display: flex;
    padding: 16px 12px;
    gap: 10px;
  }
}

:root[data-theme="light"]:has(.home__profile-menu) {
  & .home__profile-menu {
    border: 1px solid var(--btn-stroke);
  }
}
