.bookmarkSidebar {
  &__header {
    position: relative;
    padding: 20px 0 10px 0;

    > svg {
      position: absolute;
      inset: 10px 10px auto auto;
      color: var(--text-color);
    }
  }

  &__renderOptions {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }

  &__tagsHeader {
    display: flex;
    justify-content: space-between;
    padding: 4px 12px 4px 12px;

    // Reset btn
    button {
      text-decoration: underline;
      font: var(--manrope-4-medium);
      letter-spacing: 1%;
      color: inherit;
    }
  }

  &__tagsTitle {
    text-transform: uppercase;
    font: var(--manrope-3);
  }

  &__tagsList {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
