.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font: var(--manrope-1);
    color: var(--primary-text-color);
  }

  &__description {
    font: var(--manrope-4-medium);
    color: var(--secondary-text-color);
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font: var(--manrope-4);
      color: var(--primary-text-color);
    }

    input,
    textarea {
      padding: 12px;
      border-radius: 8px;
      border: 1px solid var(--form-stroke);
      font: var(--manrope-4-medium);
      color: var(--primary-text-color);
      background: transparent;
    }

    textarea {
      min-height: 91px;
      resize: none;
    }

    div {
      font: var(--manrope-4);
      font-style: italic;
      color: var(--red-800);
    }
  }

  &__actions {
    margin-top: 12px;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
